footer{
    width: 100%;
    @extend %container;
    flex-direction: column;
    background-color: $lightgray;
    .zagolovok{
        text-align: center;
        margin-top: 50px;
        h2{
            margin-bottom: 20px;
            text-transform: capitalize;
            font-size: 25px;
            @include font(700);  
        }
        p{
            @include font(300);
            margin-bottom: 20px;
            color: $gray;

        }

    }
    .email-container{
        width: 60%;
        display: flex;
        justify-content: stretch;
        margin-bottom: 150px;
       #iluha{
        width: 90%;
        border: 1px solid $orange;
       
       }
       .btn.orange{
        width: 10%;
        border-radius: 0 5px 5px 0;
        cursor: pointer;
        &:hover{
            scale: none;
        }

       }
    }
    .container{
        display: flex;
        width: 100%;


   
    .cover{
        @include cover(16.7%);
        width: 16.7%;
        margin-bottom: 35px;

    }
    
   }
   .wrapper{
    width: 100%;
    display: flex;
    justify-content: space-between;
    .container-info{
        width: 30%;
        flex-direction: column;
          p{
            color: $gray;
            font-size: 14px;
            margin-bottom: 30px;
          }

            .social{
                display: inline;
                #first{
                    margin-right: 10px;
                }
                #second{
                    margin-right: 10px;
                }
                #third{
                    margin-right: 10px;
                }

            }
            .logo{
                align-items: baseline;
                display: flex;
                margin-bottom: 30px;
                h2{
                    @include font(700);
                    text-transform: uppercase;
                    font-size: 30px;
                }
                .circle{
                    width: 8px;
                    height: 8px;
                    border-radius: 100%;
                    background-color: $orange;
                }
            }
       
        
        }
        .container-glv{
            width: 25%;
            h2{
                @include font(700);
                text-transform: uppercase;
                font-size: 20px;
                margin-bottom: 20px
            }

            .containerblya{
                display: flex;
                justify-content: space-between;

            
        .container-info1{
            width: 15%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

                
            a{
                @include font(500);
                text-transform: capitalize;
                color: $black;
                font-size: 16px;
                margin-bottom: 20px;
                cursor: pointer;
                white-space: nowrap;
                &:hover{
                    color: $orange;
                    border-bottom: 1px solid $orange;
                }
              }

          }
            .container-info1-5{
                width: 15%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            a{
                @include font(500);
                text-transform: capitalize;
                white-space: nowrap;
                color: $black;
                font-size: 16px;
                margin-bottom: 20px;
                cursor: pointer;
                &:hover{
                    color: $orange;
                    border-bottom: 1px solid $orange;
                }
              }
            }
        }
        }
        .container-info2{
            flex-direction: column;
            h2{
                @include font(700);
                margin-bottom: 20px;
            }
            .icons{
                display: flex;
                margin-bottom: 10px;
                p{
                    width: 70%;
                    color: $gray;
                    font-size: 14px;
                    &:last-child{
                        margin-bottom: 30px;
                    }
                }
                svg{
                    margin-right: 20px;
                }
            }
            .paycard{
                    margin-top: 20px;
                    margin-bottom: 25px;
                    #jiga1{
                        margin-right: 15px;
                    }
                    #jiga2{
                        margin-right: 15px;
                    }
                    #jiga3{
                        margin-right: 15px;
                    }
                    #jiga4{
                        margin-right: 15px;
                    }
                }
        }
      }
    }